# پایگاه داده (هرگز نباید در گیت‌هاب عمومی شود)
data/*.db
*.sqlite3

# فایل‌های موقت و محیط مجازی پایتون
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
env/

# فایل‌های سیستمی و تنظیمات ویرایشگرها
.DS_Store
.vscode/
.idea/